<!DOCTYPE html>
<html>

<% include include/head %>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <% include include/header %>

  <% include include/aside %>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>

    <section class="content">


    </section>
  </div>

</div>
<% include include/foot %>
</body>
</html>
