<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%=img%>" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p><%=name%></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="">
        <a href="/admin">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <%
        if(role == 'hotel' || role == 'root'){
          %>
          <li class="">
            <a href="/admin/account">
              <i class="fa fa-users" aria-hidden="true"></i> <span>account</span>
            </a>
          </li>
          <%
        }
      %>

      <li class="">
        <a href="/admin/customer/find">
          <i class="fa fa-address-book" aria-hidden="true"></i> <span>customer</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/customer/add">
          <i class="fa fa-user-plus" aria-hidden="true"></i> <span>Add customer</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/reservation">
          <i class="fa fa-address-book-o" aria-hidden="true"></i> <span>reservation</span>
        </a>
      </li>


      <li class="">
        <a href="/admin/checkin">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span>check in</span>
        </a>
      </li>

      <li class="">
        <a href="/admin/checkout">
          <i class="fa fa-plane" aria-hidden="true"></i> <span>check out</span>
        </a>
      </li>

      <!-- <li class="">
        <a href="/admin/reservation/create">
          <i class="fa fa-book" aria-hidden="true"></i> <span>create reservation</span>
        </a>
      </li> -->

      <li class="">
        <a href="/admin/emptyroom">
          <i class="fa fa-bed" aria-hidden="true"></i> <span>empty room</span>
        </a>
      </li>



    </ul>
  </section>
</aside>
